@font-face {
    font-family: 'montserrat_subrayada_bold';
    src: url('../fonts/montserratsubrayada/montserratsubrayada-bold.woff2') format('woff2'),
         url('../fonts/montserratsubrayada/montserratsubrayada-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserrat_subrayada_regular';
    src: url('../fonts/montserratsubrayada/montserratsubrayada-regular.woff2') format('woff2'),
         url('../fonts/montserratsubrayada/montserratsubrayada-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserrat';
    src: url('../fonts/montserrat/montserrat-regular.woff2') format('woff2'),
         url('../fonts/montserrat/montserrat-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserrat_medium';
    src: url('../fonts/montserrat/montserrat-medium.woff2') format('woff2'),
         url('../fonts/montserrat/montserrat-medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}