.site-getintouch{
    text-align: center;
    padding: 2rem 1rem;
    background: #222;
    position: relative;
    &:before{
        display: none;
    }
    h2.site-getintouch-title{
        position: relative;
        text-transform: uppercase;
        color: white;
    }
    .wpcf7{
        max-width: 500px;
        margin: 3rem auto;
        ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: white;
        }
        ::-moz-placeholder { /* Firefox 19+ */
            color: white;
        }
        :-ms-input-placeholder { /* IE 10+ */
            color: white;
        }
        :-moz-placeholder { /* Firefox 18- */
            color: white;
        }
        .wpcf7-group{
            @media #{$bp-xs} {
                display: flex;
                label + label input{
                    border-left: 0 !important;
                }
            }
        }
        form{
            position: relative;
        }
        p{
            margin: 0;
        }
        .selectric,
        .selectric .label{
            background: none;
            color: white;
        }
        input,
        select,
        textarea{
            position: relative;
            margin-top: -1px;
            background: none;
            width: 100%;
            border-radius: 0 !important;
            border: 1px solid white !important;
            padding: 1rem;
            text-align: center;
            text-transform: uppercase;
            color: white;
            display:inline-block;
            letter-spacing: 1px;
            vertical-align:middle;
            transition: padding .25s ease-in-out;
            border-color: white;
            resize: none;
            &.wpcf7-not-valid{
                padding: .5rem 1rem 1.5rem;
            }
        }
        select{
            height: 54px;
            -webkit-appearance: none;
            text-align-last: center;
            padding-right: 29px;
        }
        input.wpcf7-submit{
            border-radius: 0 !important;
            background-color: $color-primary;
            color: #fff;
            padding: 0.8rem 1.5rem;
            font: inherit;
            cursor: pointer;
            outline: inherit;
            text-transform: uppercase;
            text-align: center;
            text-decoration: none;
            letter-spacing: 2px;
            display: inline-block;
            border: 1px solid $color-primary !important;
            font-size: 1.25rem;
            font-family: $font-text-alt;
            transition: background .25s ease-in-out, color .25s ease-in-out, border-color .25s ease-in-out;
            max-width: 500px;
            margin-top: 1rem;
            &:hover{
                background: black;
                color: $color-primary;
                border-color: $color-primary;
            }
            @media #{$bp-sm} {
                padding: .5rem 1.5rem;
            }
        }
        .selectric{
            border-radius: 0;
            border-top: 0;
            border-right: 1px solid white;
            border-left: 1px solid white;
            border-bottom: 1px solid white;
            .label{
                color: white;
                border-radius: 0;
            }
            .button{
                border-radius: 0;
                top: -1px;
                right: -1px;
                background-color: white;
                width: 46px;
                height: 46px;
                &:after{
                    background-image: url('../images/ui/dropdown.svg');
                }
            }
        }
        .selectric-items{
            border-radius: 0;
            border-color: white;
        }
        .wpcf7-form-control-wrap{
            position: relative;
            display: block;
            transition: padding .25s ease-in-out;
            .wpcf7-recaptcha ~ .wpcf7-not-valid-tip {
                padding-right: 70px;
            }
        }
        .wpcf7-not-valid-tip{
            position: absolute;
            bottom: 0;
            right: 0;
            left: 0;
            text-align: center;
            font-size: .85rem;
            margin: .25rem .5rem;
            color: red;
        }
        .ajax-loader{
            display: none;
        }
        .wpcf7-recaptcha {
            > div{
                margin: 1.5rem auto;
            }
        }
        div.wpcf7-response-output{
            position: relative;
            margin: 1rem 0 1.5rem;
            padding: 0.5rem 1rem;
        }
        div.wpcf7-mail-sent-ng,
        div.wpcf7-aborted,
        div.wpcf7-spam-blocked,
        div.wpcf7-validation-errors,
        div.wpcf7-acceptance-missing{
            color: red;
            border: 1px solid red;
        }
        div.wpcf7-validation-success{
            color: green;
            border: 1px solid green;
        }
    }
    #server-messages,
    #alert-message-container,
    .smtw-submit-feedback,
    #smtw-entry-form{
        position: relative;
        color: white;
    }
}